# the build directory
build/

#the cache directory
.cache/

#accidental compilations
a.out

# temporary files and dump i create for debugging.
temp.*
dump.*
.worktrees/

# ide specific
.vscode/
.zed/
